
* {
	border: 0;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
:root {
	font-size: calc(16px + (24 - 16)*(100vw - 320px)/(1920 - 320));
}
.search_menu, button, input {
	font: 1em Hind, sans-serif;
	line-height: 1.5em;
}
.search_menu, input {
	color: #171717;
}
.search_menu, .search-bar {
	display: flex;
}
body {
	background: #f1f1f1;
	height: 100vh;
}
.search-bar input,
.search-btn, 
.search-btn:before, 
.search-btn:after {
	transition: all 0.25s ease-out;
}
.search-bar input,
.search-btn {
	width: 3em;
	height: 3em;
}
.search-bar input:invalid:not(:focus),
.search-btn {
	cursor: pointer;
}
.search-bar,
.search-bar input:focus,
.search-bar input:valid  {
	width: 100%;
}
.search-bar input:focus,
.search-bar input:not(:focus) + .search-btn:focus {
	outline: transparent;
}
.search-bar {
	margin: auto;
	padding: 1.5em;
	justify-content: center;
	max-width: 30em;
}
.search-bar input {
	background: transparent;
	border-radius: 1.5em;
	box-shadow: 0 0 0 0.4em #171717 inset;
	padding: 0.75em;
	transform: translate(0.5em,0.5em) scale(0.5);
	transform-origin: 100% 0;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}
.search-bar input::-webkit-search-decoration {
	-webkit-appearance: none;
}
.search-bar input:focus,
.search-bar input:valid {
	background: #fff;
	border-radius: 0.375em 0 0 0.375em;
	box-shadow: 0 0 0 0.1em #d9d9d9 inset;
	transform: scale(1);
}
.search-btn {
	background: #171717;
	border-radius: 0 0.75em 0.75em 0 / 0 1.5em 1.5em 0;
	padding: 0.75em;
	position: relative;
	transform: translate(0.25em,0.25em) rotate(45deg) scale(0.25,0.125);
	transform-origin: 0 50%;
}
.search-btn:before, 
.search-btn:after {
	content: "";
	display: block;
	opacity: 0;
	position: absolute;
}
.search-btn:before {
	border-radius: 50%;
	box-shadow: 0 0 0 0.2em #f1f1f1 inset;
	top: 0.75em;
	left: 0.75em;
	width: 1.2em;
	height: 1.2em;
}
.search-btn:after {
	background: #f1f1f1;
	border-radius: 0 0.25em 0.25em 0;
	top: 51%;
	left: 51%;
	width: 0.75em;
	height: 0.25em;
	transform: translate(0.2em,0) rotate(45deg);
	transform-origin: 0 50%;
}
.search-btn span {
	display: inline-block;
	overflow: hidden;
	width: 1px;
	height: 1px;
}

/* Active state */
.search-bar input:focus + .search-btn,
.search-bar input:valid + .search-btn {
	background: #2762f3;
	border-radius: 0 0.375em 0.375em 0;
	transform: scale(1);
}
.search-bar input:focus + .search-btn:before, 
.search-bar input:focus + .search-btn:after,
.search-bar input:valid + .search-btn:before, 
.search-bar input:valid + .search-btn:after {
	opacity: 1;
}
.search-bar input:focus + .search-btn:hover,
.search-bar input:valid + .search-btn:hover,
.search-bar input:valid:not(:focus) + .search-btn:focus {
	background: #0c48db;
}
.search-bar input:focus + .search-btn:active,
.search-bar input:valid + .search-btn:active {
	transform: translateY(1px);
}

@media screen and (prefers-color-scheme: dark) {
	body, input {
		color: #f1f1f1;
	}
	body {
		background: #171717;
	}
	.search-bar input {
		box-shadow: 0 0 0 0.4em #f1f1f1 inset;
	}
	.search-bar input:focus,
	.search-bar input:valid {
		background: #3d3d3d;
		box-shadow: 0 0 0 0.1em #3d3d3d inset;
	}
	.search-btn {
		background: #f1f1f1;
	}
}

.product_image img {
  background-color: gray;
}

.page {
  display: flex;
  flex-direction: column;
}

.search_menu {
  display: flex;
  flex-direction: column;
}

.page_title {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  margin: auto;
  margin-top: 40px;
  color: white;
}

.search_button {
  margin: auto;
  width: 40px;
  height: 40px;
  margin-left: 0;
}

.product_holder {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin: auto;
}

.product_div {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: black;
  font-weight: lighter;
  background-color: rgb(243, 239, 235);
  display: flex;
  flex-direction: column;
  border: 0.1px solid rgb(207, 207, 207);
  margin: 20px;
  max-width: 250px;
}

.image_div {
  background-color: white;
  display: flex;
  min-height: 240px;
  margin: 0;
  padding-top: 20px;
  padding-bottom: 20px;
}

.product_image {
  max-width: 200px;
  max-height: 200px;
  align-items: center;
  margin: auto;
}

.product_title {
  background-color: rgb(243, 239, 235);
  font-size: medium;
  margin: 0;
  padding: 10px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 15px;
}

.product_rating {
  background-color: rgb(243, 239, 235);
  font-size: small;
  margin: 0;
  padding: 10px;
  padding-left: 15px;
  padding-right: 15px;
}

.product_reviews {
  background-color: rgb(243, 239, 235);
  font-size: small;
  margin: 0;
  padding: 10px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 20px;
}

@media only screen and (max-width: 1100px) {
  .product_holder {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 1em;
    grid-row-gap: 100px;
  }
}

@media only screen and (max-width: 768px) {
  .product_holder {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 1em;
    grid-row-gap: 100px;
  }
}

@media only screen and (max-width: 550px) {
  .product_holder {
    display: grid;
    grid-template-columns: 1fr;
    padding: 1em;
    grid-row-gap: 100px;
  }
}

.warnings {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: larger;
  margin: auto;
}